#main_parent {
    min-height: 90dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acoount_icon {
    font-size: 96px;
}

#info_window {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
    text-align: left;
}

#info_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info_form>* {
    font-size: 100%;
}

label>h4 {
    margin-bottom: 0;
}

.info_box {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #e4e4e4;
    font-size: 16px;
    color: #3c3c3c;
    border: none;
    border-radius: 5px;
}

.must {
    color: red;
    font-size: 0.8rem;
}

input[type=date] {
    appearance: none;
}

input,
select,
option {
    font-size: 1rem;
    width: 100%;
    background-color: #dddddd;
    border-radius: 0.5dvh;
    border: none;
    padding: 10px;

    &:not(:placeholder-shown):invalid {
        color: red;
    }
}

.error_msg {
    font-size: 0.8rem;
    color: #ff0000;
    margin: 0;
}

.password_area {
    position: relative;
}

.eye_icon {
    width: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

#submit_btn {
    width: 50%;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button,
input[type=submit] {
    cursor: pointer;
}

#back_anchor {
    display: block;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 767px) {
    #info_window {
        width: 100%;
    }
}