#main_parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main_box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
    display: flex;
    flex-direction: column;
}
#main_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.circle {
    width: 40px;
    aspect-ratio: 1;

    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
}

.circle.completed {
    border-color: #4caf50;
    color: #4caf50;
}

.circle span {
    font-size: 20px;
    font-weight: bold;
}

.line {
    width: 20%;
    height: 2px;
    background-color: #ccc;
}

.line.completed {
    background-color: #4caf50;
}

section{
    width: 75%;
    margin: 50px auto;
}

.section_title{
    display: flex;
}
.section_title h3{
    margin: 0;
}

#product_list{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.product {
    display: flex;
    justify-content: center;
    margin: 40px 20px;
    position: relative;
}
.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info > * {
    margin: 0;
    width: 200px;
    overflow-wrap: break-word;
}
.price {
    display: inline-block;
    margin: 0;
}
.price_area {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    padding: 0 5px;
    border-bottom: 2px solid #000;
    margin-bottom: 0;
}
.price_area > input{
    width: 3em;
    font-size: 1rem;
}
.frame{
    width: 136px;
    height: 136px;
    min-width: 136px;
    min-height: 136px;
    background-image: url("../img/gakubuti.png");
    background-repeat: no-repeat;
    padding: 7px;
    background-size: contain;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}
.draw_area{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.frame img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#product_sum{
    display: flex;
    justify-content: right;   
}
#product_sum > *{
    margin: 0 10px;
}

.choose{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 20px 0;
}
.choose:first-child{
    border-top: 2px solid #000;
}

.accordion_menu{
    display: block;
}
.summary{
    display: flex;
}
.left_box{
    padding: 0 10px;
}
.add_button{
    width: 100%;
    font-size: 1rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}
.modal_window{
    display: none;
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
#address_modal_window.view{
    display: flex;
}
#payment_modal_window.view{
    display: flex;
}

.modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin: 30px 0;
    width: 50%;
    height: 80%;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 10px;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_content::-webkit-scrollbar {
    width: 8px;
    background-color: #fff; 
    border-radius: 10px;
}

.modal_content::-webkit-scrollbar-thumb {
    background: #454545;
    width: 6px;
    border-radius: 10px;
}
.close_icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.add_form{
    width: 75%;
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: none;
}
.error_msg {
    font-size: 0.8rem;
    color: #ff0000;
}
#required_msg{
    color: #ff0000;
    padding: 5px;
}
#non_card_error{
    text-align: center;
}
.input_box{
    width: 100%;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}
.input_box *{
    width: 100%;
    margin: 0;
}
#expire_area{
    display: flex;
    align-items: center;
}

.must{
    color: red;
    font-size: 0.8rem;
}

input,select,option{
    font-size: 1rem;
    background-color: #dddddd;
    border-radius: 5px;
    border: none;
    padding: 10px;

    &:not(:placeholder-shown):invalid{
        color: red;
    }
}
input,select{
    padding: 10px;
}

input[type=submit]{
    width: 50%;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
#back_anchor{
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: underline;
}
.right_box{
    flex-grow: 1;
}
input[type=radio]{
    margin: 0 10px;
}
.item{
    display: flex;
    border-bottom: 2px solid #000;
    padding: 20px 0;
}
.address .item:first-child{
    border-top: 2px solid #000;
}
.payment .item:first-child{
    border-top: 2px solid #000;
}
.delete_button {
    color: red;
    background: none;
    border: none;
    margin: 10px 0;
}
.details{
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 10px;
    opacity: 0;
    width: 100%;
    max-height: 0px;
    transition: 
        max-height 1s ease, 
        opacity 0.5s ease, 
        padding 0.5s ease;
    overflow: hidden;
    font-size: 16px;
}
.details.view{
    opacity: 1;
    padding: 10px;
    max-height: 300px;
}
#point_box{
    display: flex;
    margin: 10px 0;
    white-space: nowrap;
}
#point_box h4{
    margin: 0;
}
#point_box input{
    padding: 0;
    min-width: 15px;
}


#details_amount{
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}
.details_amount_point{
    display: none;
}
.details_amount_point.view{
    display: block;
}
.total{
    width: 100%;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

@media (max-width: 767px){
    #main_box{
        padding: 10px;
    }
    .circle{
        width: 40px;
    }
    section{
        width: 100%;
    }
    .product{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }
    .info{
        margin: 0;
        margin-top: 20px;
    }
    .price_area{
        position: relative;
        right: 0;
        transform: translateY(0px);
    }
    .modal_content{
        width: 90%;
        padding: 10px;
    }
    .add_form{
        width: 90%;
    }
    input[type=radio]{
        margin: 0;
    }
    #details_amount *{
        margin: 5px 0;
    }
    section {
        margin: 25px 0;
    }
    #point{
        width: 100%;
    }
}