#main_parent{
    min-height: 90dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main_window{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
.cart_box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #4e4e4e;
    padding: 30px 0;
}
.cart_box:first-child{
    border: none;
}
.checkbox{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    margin-right: 0.5rem;
    cursor: pointer;
}
.box_right{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#products{
    display: none;
}
#products.view{
    display: block;
}
.product{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.frame{
    width: 136px;
    height: 136px;
    min-width: 136px;
    background-image: url("../img/gakubuti.png");
    background-repeat: no-repeat;
    padding: 7px;
    background-size: contain;
    margin: 0;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}
.draw_area{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.frame img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.info_left{
    display: flex;
    flex-direction: column;
}
.info_left > * {
    width: 200px;
    text-align: left;
    display: inline;
    padding: 0 10px;
    margin: 0;
    overflow-wrap: break-word;
}
.delete_button {
    color: red;
    background: none;
    border: none;
    margin: 0 10px;
    text-decoration: underline;
    cursor: pointer;
}
.product_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quantity_area > input{
    width: 3em;
    font-size: 1rem-;
}

.price {
    text-decoration: underline;
    width: fit-content;
}
input[type=submit]{
    margin: 20px;
    padding: 5px 10px;
    background-color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#bag_icon{
    font-size: 96px;
}
#is_null{
    display: none;
}
#is_null.view{
    display: block;
}

@media (max-width: 767px){
    .product{
        flex-direction: column;
        margin: 0;
    }
    .box_right{
        flex-direction: column;
    }
    .info{
        margin:0;
    }
    .info_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .info_left > * {
        padding: 0;
        display: inline;
        text-align: center;
    }
    .product_bottom{
        margin: 10px;
        flex-direction: column;
    }
}
