@charset "utf-8";

/* 共通部分
------------------------------- */
*, ::after, ::before{
  box-sizing: border-box;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
html.nonscroll{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  font-family: "";
  line-height: 1.7;
  color: #000;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}

#main_parent{
  position: relative;
  z-index: 100;
  width: 90dvw;
  max-width: 1000px;
  min-height: 90vh;
  margin: 0 auto;
  padding: 16px 0;
}
input[type=submit], button{
  cursor: pointer;
}

html::-webkit-scrollbar{
  display: none;
}

/* 共通部分
------------------------------- */

/* header */
header{
  height: fit-content;
  position: sticky;
  width: 100%;
  z-index: 101;
  top: 0;
}

#nav_parent {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

/* ハンバーガーメニューのスタイル */
#hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 103;
}

#hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

/* モバイルメニューの初期設定 */
#mobile_menu {
  width: 90%;
  height: 100dvh;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  opacity: 0;
  visibility: hidden; /* 非表示状態 */
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
}

/* メニューが表示される状態 */
#mobile_menu.active {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
}

#mobile_menu a {
  padding: 15px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #ccc;
  width: 60%;
}


/* ハンバーガーが開いている状態 */
#hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
#hamburger.open span:nth-child(2) {
  opacity: 0;
}
#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#header_logo {
  width: 200px;
  display: flex;
}
.menu_icon{
  display: flex;
}
#pc_menu {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.nav_icon {
  width: 50px;
  aspect-ratio: 1/1;
}
#mobile_icon{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}
#mobile_icon img{
  height: 35px;
}

#bg_cover{
  display: none;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0;
	z-index: 101;
}
#bg_cover.active{
  display: block;
}

/*フォーム全体*/
#search_product_form{
  display: flex;
  justify-content: center; 	
  border-bottom: solid 2px #000;
  max-width: 300px;
  height:40px;
  margin-left: auto;
  margin-right: auto;
}
/*入力フォーム*/
#search_word{ 
  width:240px;
  padding: 0 15px;
  border-radius: initial;
  background:transparent;
  border:none;
  outline:0;
  font-size: 1rem;
}
/*検索ボタン*/
#search_btn{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  cursor: pointer;
  color: #000;
}

/* 動く背景 */
.image-container {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

/* 共通アニメーション設定 */
.image-container > div {
  transition: all transform 2s ease-in-out, opacity 2s ease-in-out;
  will-change: transform, opacity;
}

/* 各図形の初期位置とサイズ設定 */
.pink-circle {
  position: absolute;
  width: 350px;
  height: 350px;
  top: -20%;
  left: -5%;
  z-index: 1;
}

.yellow-square {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 80%;
  left: 10%;
  z-index: 2;
}

.purple-square {
  position: absolute;
  width: 350px;
  height: 250px;
  top: 25%;
  left: 60%;
  z-index: 3;
}

.pink-triangle {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 70%;
  left: 35%;
  z-index: 4;
}


.blue-circle-border {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 65%;
  left: 12%;
  z-index: 5;
}

.green-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 30%;
  z-index: 6;
}

.orange-circle-border {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 75%;
  left: 82%;
  z-index: 7;
}

.green-square {
  position: absolute;
  width: 220px;
  height: 180px;
  top: 45%;
  left: 55%;
  z-index: 8;
}

.orange-circle {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20%;
  left: 10%;
  z-index: 9;
}

.blue-circle {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 20%;
  left: 45%;
  z-index: 10;
}

.yellow-triangle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: -15%;
  left: 55%;
  z-index: 11;
}

.purple-triangle {
  position: absolute;
  width: 230px;
  height: 230px;
  top: 50%;
  left: -5%;
  z-index: 12;
}

.blue-triangle {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 65%;
  left: 85%;
  z-index: 13;
}


/* footer */

#footer_parent {
  position: relative;
  z-index: 101;
  background-color: rgb(255, 208, 208);
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo_footer {
  padding: 3em;
}

.footer_link{
  color: #000;
  margin: 10px 0;
}

#copy_right {
  margin: 0 auto;
  text-align: center;
  padding: 7px;
}

/* モバイルデバイス向けヘッダーメニュー */
@media (max-width: 767px) {
  #nav_parent {
    flex-direction: column;
  }
  #pc_menu {
    display: none;
  }
  #hamburger, #mobile_icon {
    display: flex;
  }
  #header_logo {
    width: 150px;
    margin-bottom: 10px;
  }
  #search_box {
    margin-bottom: 10px;
  }
  .bg_img{
    width: 30% !important;
    height: auto;
  }
  .footer_link{
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
}
