#main_parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main_parent a {
  display: block;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}

#contact{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact_form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
}
form > *{
    font-size: 1rem;
}
form > .input_area{
  background-color: #e4e4e4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
form > .input_area::placeholder{
  color: #868686;
}
.must{
  color: red;
}
#submit_btn{
  width: 50%;
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#faq{
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
  text-align: center;
}
.faq_box{
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 0;
  margin: 10px 0;
  border: none;
}

.summary{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}
.summary > h3 {
  margin: 5px;
}
.details{
  background-color: rgba(222, 222, 222, 0.5);
  opacity: 0;
  width: 100%;
  max-height: 0px;
  transition: padding 0.5s ease,
      max-height 0.5s ease,
      opacity 0.5s ease;
  overflow: hidden;
  font-size: 16px;
}
.details.view{
  opacity: 1;
  padding: 10px;
  max-height: 300px;
}
button{
  cursor: pointer;
  color: #000;
}
@media (max-width: 767px) {
  #contact{
    width: 100%;
  }
  #faq{
    width: 100%;
  }
}