#main_parent{
    min-height: 90dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#msg_box{
    width: 90dvw;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
    overflow: hidden;
}
#msg_box span {
    font-size: 50px;
}

#back_anchor{
    color: #000;
    border-bottom: 1px solid #000;
}