#main_parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact_form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
form > *{
    font-size: 1rem;
}
form > .input_area{
  background-color: #e4e4e4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
form > .input_area::placeholder{
  color: #868686;
}
.must{
  color: red;
}
#submit_btn{
  width: 50%;
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#faq{
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  text-align: center;
}
.faq_box{
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 0;
  margin: 10px 0;
  border: none;
}

.summary{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}
.summary > h3 {
  margin: 5px;
}
.details{
  opacity: 0;
  background-color: #cbcbcb;
  width: 100%;
  max-height: 0px;
  transition: max-height 1s ease, opacity 1s ease, padding 1s ease, margin 1s ease;
  overflow: hidden;
  font-size: 16px;
}
.details.view{
  opacity: 1;
  max-height: 300px;
  padding: 10px;
  margin: 10px 0px;
}
button{
  cursor: pointer;
  color: #000;

}

@media (max-width: 767px) {
  #contact{
    width: 100%;
  }
  #faq{
    width: 100%;
  }
}