#main_parent{
    min-height: 90dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#msg_box{
    width: 90dvw;
    max-width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
    overflow: hidden;
}
#msg_box span {
    font-size: 50px;
}

#msg_box a{
    color: #000;
    border-bottom: 1px solid #000;
}