#main_parent{
    text-align: center;
}

#main_window{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
#products {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product_box{
    border-top: 2px solid #4e4e4e;
}
.product_box:first-child{
    border: none;
}
.product{
    display: flex;
    padding: 20px 0;
}
.info{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.info_bottom > * {
    display: inline;
    padding: 0 10px;
    margin: 0;
}
.price {
    border-bottom: 1px solid #000;
    display: inline;
}
.description {
    max-width: 600px;
    display: block;
}

.pictura{
    display: flex;
    align-items: center;
}
.pictura img{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
    width: auto;
}
.in_cart_btn{
    margin: 20px;
    padding: 5px 10px;
    background-color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    
}

@media (max-width: 767px){
    .info_bottom{
        display: flex;
        flex-direction: column;
    }
    .info_bottom > * {
        padding: 0;
        display: inline;
    }
    .description{
        display: none;
    }
}