
#main_parent{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_icon {
    font-size: 96px;
}
#bottom_box{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
    border-radius: 15px;
    padding: 16px;
}
.menu_btn{
    border-bottom: 2px solid #432;
    width: 75%;
    padding: 32px;
    color: #000;
    display: flex;
    justify-content: center;
}
.menu_btn:last-child{
    border-bottom: none;
}
.bottom_icon{
    font-size: 2rem;
}
.menu_btn h3{
    margin: 0 10px;
    font-size: 1.25rem;
}

/* スライドショーの高さ調整 */
@media (max-width: 767px) {
    .menu_btn{
        padding: 15px 10px;
    }
    #bottom_box{
        width: 100%;
    }
    .menu_btn h3{
        font-size: 1rem;
    }
}