#main_parent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_window {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin: 30px 0;
    box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
}

#products {
    width: 100%;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products.view {
    display: flex;
}

.product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-top: 2px solid #4e4e4e;
}

.product:first-child {
    border: none;
}

.info {
    width: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.state {
    overflow-wrap: break-word;
    text-align: center;
    border-bottom: 2px dashed #4e4e4e;
    font-weight: bold;
}

.info_bottom>* {
    display: inline;
    padding: 0 10px;
    margin: 0;
}
.frame {
    width: 136px;
    height: 136px;
    min-width: 136px;
    background-image: url("../img/gakubuti.png");
    background-repeat: no-repeat;
    padding: 7px;
    background-size: contain;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}

.draw_area {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#book_icon {
    font-size: 96px;
}

#is_null {
    display: none;
}

#is_null.view {
    display: block;
}

@media (max-width: 426px) {
    .product{
        flex-direction: column;
    }
    .state {
        font-size: 16px;
    }
    .info {
        margin-left: 10px;
    }
    .info_bottom {
        display: flex;
        flex-direction: column;
    }

    .info_bottom>* {
        padding: 0;
        display: inline;
    }
}