#main_parent{
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main_window{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 64px;
    box-shadow: rgba(83, 83, 83, 0.09) 5px 5px 10px;
}
#window_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#window_top > a{
    width: 50%;
    margin: 0 auto;
}
#sendURL_form{
    display: flex;
    flex-direction: column;
}
form > * {
    font-size: 1rem;
}
form > input{
    background-color: #dddddd;
    border: none;
    border-radius: 0.5dvh;
    margin-bottom: 20px;
    padding: 10px;
}
form > a{
    color: #ff0000;
    border-top: 0;
    font-size: 0.75rem;
}
input[type=submit]{
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}
.back_anchor{
    text-decoration: underline;
    text-align: center;
}
@media (max-width: 767px){
    #main_window{
        width: 100%;
        padding: 16px;
    }
}